@font-face {
  font-family: 'iconfont';  /* project id 1999379 */
  src: url('//at.alicdn.com/t/font_1999379_9zgktefmkb.eot');
  src: url('//at.alicdn.com/t/font_1999379_9zgktefmkb.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1999379_9zgktefmkb.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1999379_9zgktefmkb.woff') format('woff'),
    url('//at.alicdn.com/t/font_1999379_9zgktefmkb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1999379_9zgktefmkb.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
